{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Курсова Робота</title>
    {% endblock %}
    {% block styles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
         <link rel="shortcut icon" href="{% static 'calculator.ico' %}" type="image/x-icon">
    {% endblock %}
</head>
<body>
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="calculator">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-5">
                <div class="calbody">
                    <form name="lcdform">
                        {% csrf_token %}
                        <input id="function" type="text" value=""/>
                    </form>
                    <div id="calbutton">
                        <div class="row">
                            <button>a</button>
                            <button>b</button>
                            <button>c</button>
                            <button>1</button>
                            <button>0</button>
                        </div>
                        <div class="row">
                            <button>i</button>
                            <button>j</button>
                            <button>k</button>
                            <button>&#8743;</button>
                            <button>&#8744;</button>
                        </div>
                        <div class="row">
                            <button>x</button>
                            <button>y</button>
                            <button>z</button>
                            <button>|</button>
                            <button>&#8595;</button>
                        </div>
                        <div class="row">
                            <button id="clear" title="Очистити">&#10006;</button>
                            <button>(</button>
                            <button>)</button>
                            <button>&#8853;</button>
                            <button>&#8594;</button>
                        </div>
                        <div class="row">
                            <button class="long" id="calculate">Побудувати</button>
                            <button>&#8596;</button>
                            <button>&#33;</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-7" id="truth-table"></div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-5" id="main-info"></div>
            <div class="col-12 col-md-6 col-lg-7" id="pascal-triangle"></div>
        </div>
    </div>
{% endblock %}
</body>
</html>