{% load static %}
{% if error %}
    <h1>Некоректно задана функція.</h1>
{% else %}
    <h2>Таблиця істиності</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                {% for th in columns %}
                    <th scope="col">{{ th }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for tr in data %}
                <tr>
                    {% for td in  tr %}
                        <td>{{ td | yesno:"1,0" }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
